.hd {
    position: absolute;
   color: #ffffff;
   top: 10%;
   left: 17%;
}

.dd p {
    position: absolute;
    color: #ffffff;
    top: 32%;
    left: 17%;
    font-size: 20px;
}
.cnt {
    position: absolute;
    left: 17%;
    width: 60%;
    max-width: 800px;
    height: 500px;
    border-radius: 6px;
    padding: 30px;
    background-color: #ffffff;
    margin-top: 300px;
}
.bnt {
    position: absolute;
    left: 70%;
    width: 30%;
    max-width: 350px;
    height: 500px;
    padding: 30px;
    border-radius: 6px;
    margin-top: 300px;
    background-color: #ffffff;
}

.bnt h4  {
    padding-top: 50px;
    color: #333;
}
.bnt h6 {
    color: rgb(82, 82, 82);
}
.bnt h3 {
    padding-top: 80px;
    color: #333;
}
.bnt h5 {
    color: rgb(82, 82, 82);
}
.cnt header {
    position: absolute;
    font-size: 20px;
    color: #333;
    top: 10px;
    left: 10px;
}
.cnt .formula{
    position: relative;
    margin-top: 50px;
}
.ctn .formula .valider .dm {
    margin-bottom: 2px;
    width: 50px;
}
.lb {
    margin-right: 15px;
    
}
input[type="radio"] {
    margin-top: 50px;
    margin-right: 5px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.msg {
    margin-top: 15px;
}
.boutona {
   margin-top: 25px;
   margin-left: 655px;
   width: 80px;
   height: 30px;
   background-color: #01439f;
   color: #ffffff;
   outline: none;
   border: none;
}
@media screen and (max-width: 768px) {
    .hd, .dd p, .cnt, .bnt {
        position: relative;
        left: auto;
        width: 90%;
        margin-left: 5%;
        margin-top: 30px; /* Adjust margin-top as needed */
    }

    .bnt {
        left: auto;
        margin-left: 5%;
    }

    .boutona {
        margin-left: calc(50% - 40px); /* Adjust margin-left based on button width */
    }
}