.lol {
    color: #f2f2f2;
    position: absolute;
    left: 445px;
    top: 900px;
    font-size: 24px;
}

.tbbl {
    position: absolute;
    top: 950px;
    bottom: 80%;
    left: 445px;
    width: 55%;
    height: 36%;
    box-shadow: 10px 10px 64px 0px rgba(187, 187, 213, 0.75);
    -webkit-box-shadow: 10px 10px 64px 0px rgba(165, 165, 199, 0.75);
    -moz-box-shadow: 10px 10px 64px 0px rgba(208, 208, 231, 0.75);
}